.sfb-app {
	color: #324265;
	font-family: sans-serif;
	margin: auto;
	width: 800px;
}

.sfb-header-step {
	font-size: 200%;
}

.sfb-next-wrapper {
	display: flex;
	justify-content: flex-end;
}

.sfb-next-button {
	background-color: #254084;
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-size: 150%;
	padding: 20px;
}

.sfb-category-list, .sfb-region-list {
	text-align: center;
}

.sfb-generic-list {
	margin: 0;
	padding: 0;
}

.sfb-generic-list li {
	display: inline-block;
	list-style-type: none;
	margin-right: 10px;
}

.sfb-generic-list button, .sfb-service-list label {
	background-color: white;
	border: 1px solid #9FBCD0;
	border-radius: 20px;
	box-sizing: border-box;
	color: #324265;
	cursor: pointer;
	font-size: 120%;
	height: 100px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 150px;
}

.sfb-generic-list button:active, .sfb-service-element-selected label {
	border: 2px solid #254084;
	margin-bottom: 8px;
}

.sfb-service-list li {
	width: 100%;
}

.sfb-service-element label {
	display: block;
	height: auto;
	padding: 20px;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
}

.sfb-service-price {
	font-size: 80%;
	color: #254084;
}

.sfb-service-list li input {
	display: none;
}

@keyframes sfb-ripple {
	0% {
		transform: scale(0.1); opacity: 1;
	}
	70% {
		opacity: 0.5;
	}
	100% {
		transform: scale(1); opacity: 0;
	}
}

.sfb-load-indicator {
	animation: sfb-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	border: 10px solid #254084;
	border-radius: 90%;
	height:90%;
	width:90%;
}

.sfb-address-form span {
	display: block;
	height: 2em;
	margin-bottom: 20px;
}

.sfb-address-form span label {
	display: inline-block;
	margin-right: 10px;
	text-align: right;
	width: 30%;
}

.sfb-address-form span input {
	border: 1px solid #9FBCD0;
	border-radius: 10px;
	font-size: 120%;
	padding: 10px;
	width: 40%;
}

.sfb-progress-indicator {
	margin: 20px 0;
	text-align: center;
}

.sfb-progress-bubble {
	background-color: white;
	border: 2px solid #9FBCD0;
	box-sizing: border-box;
	border-radius: 20px;
	display: inline-block;
	height: 40px;
	position: relative;
	width: 40px;
	z-index: 2;
}

@keyframes sfb-pulse {
	0% {
		background-color: #324265;
		border-color: #324265;
	}
	100% {
		background-color: #5F78B0;
		border-color: #5F78B0;
	}
}

.sfb-progress-bubble-active {
	animation: sfb-pulse 2s alternate infinite;
	animation-fill-mode: both;
}

.sfb-progress-bubble-done {
	background-color: #324265;
	border-color: #324265;
}

.sfb-progress-line {
	background-color: white;
	border: 2px solid #9FBCD0;
	box-sizing: border-box;
	display: inline-block;
	height: 20px;
	margin: 10px -10px;
	position: relative;
	width: 50px;
	z-index: 1;
}

.sfb-progress-line-done {
	background-color: #5F78B0;
	border-color: #5F78B0;
}

.sfb-progress-step-wrap {
	display: inline-block;
}
