<!DOCTYPE html>
<html>
<head>
	<title>Booking</title>
	<link rel="stylesheet" type="text/css" href="default_style.css">
</head>
<body>
	<noscript>Online Booking needs JavaScript. Please enable it, thank you.</noscript>
	<div id="app" class="sfb-app">
		<div class="sfb-progress-indicator">
			<span v-for="step in progress.max" class="sfb-progress-step-wrap">
				<span class="sfb-progress-bubble" v-bind:class="{ 'sfb-progress-bubble-active': step == progress.current, 'sfb-progress-bubble-done': step < progress.current }"></span>
				<span v-if="step != progress.max" class="sfb-progress-line" v-bind:class="{ 'sfb-progress-line-done': step < progress.current }"></span>
			</span>
		</div>

		<div v-if="state.loading" style="width:200px; height:200px; margin:auto; margin-top: 20px;"><div class="sfb-load-indicator"></div></div>

		<div v-if="step=='start'">
			<h2 class="sfb-header-step">Select Category</h2>
			<ul class="sfb-generic-list sfb-category-list">
				<li v-for="category in categories" v-on:click="category_selected(category.id)" class="sfb-category-element"><button>{{ category.name }}</button></li>
			</ul>
		</div>

		<div v-if="step=='device'">
			<h2 class="sfb-header-step">Select Device</h2>
			<ul class="sfb-generic-list sfb-device-list">
				<li v-for="device in devices" v-on:click="device_selected(device.id)" class="sfv-device-element"><button>{{ device.name }}</button></li>
			</ul>
		</div>

		<div v-if="step=='service'">
			<h2 class="sfb-header-step">Select Service</h2>
			<ul class="sfb-generic-list sfb-service-list">
				<li v-for="service in services" class="sfb-service-element" v-bind:class="{ 'sfb-service-element-selected': is_service_selected(service.id) }">
					<label><input type="checkbox" :value="service.id" v-model="selected.service_ids">{{ service.name }}
						<span class="sfb-service-price">starting from {{ service.price_info.amount }} {{ service.price_info.currency }}</span>
					</label>
				</li>
			</ul>

			<span class="sfb-next-wrapper">
				<button v-if="selected.service_ids.length != 0" v-on:click="services_selected" class="sfb-next-button sfb-next-button-services">next</button>
			</span>
		</div>

		<div v-if="step=='variant'">
			<h2 class="sfb-header-step">Select Variant</h2>
			<ul class="sfb-generic-list sfb-variant-list">
				<li v-for="variant in variant_choices" v-on:click="variant_selected(variant.id)" class="sfb-variant-element">
					<button>{{ variant.name }}</button>
				</li>
			</ul>
		</div>

		<div v-if="step=='region'">
			<h2 class="sfb-header-step">Region</h2>
			<ul class="sfb-generic-list sfb-region-list">
				<li v-for="region in regions" class="sfb-region-element">
					<label v-on:click="region_selected(region.id)" v-if="!selected.region"><button>{{ region.name }}</button></label>
					<template v-if="selected.region == region.id">
						<h3>{{ region.name }}</h3>
						<ul class="sfb-generic-list sfb-subregion-list">
							<li v-for="subregion in region.subregions.features" class="sfb-subregion-element">
								<button v-on:click="subregion_selected(subregion.id)">{{ subregion.properties.name }}</button>
							</li>
						</ul>
					</template>
				</li>
			</ul>
		</div>

		<div v-if="step=='channel'">
			<h2 class="sfb-header-step">Channel</h2>

			<ul class="sfb-generic-list sfb-channel-list">
				<li v-for="channel in channels" class="sfb-channel-element">
					<label v-on:click="channel_selected(channel.id)"><button>{{ channel.name }}</button></label>
				</li>
			</ul>
		</div>

		<div v-if="step=='appointment'">
			<h2 class="sfb-header-step">Appointment</h2>
			<ul class="sfb-generic-list sfb-appointment-list">
				<li v-for="appointment in appointments" class="sfb-appointment-element">
					<label v-on:click="appointment_selected(appointment)"><button>{{ appointment.start }}</button></label>
				</li>
			</ul>
		</div>

		<div v-if="step=='address'">
			<h2 class="sfb-header-step">Address</h2>

			<form class="sfb-address-form sfb-service-address-form">
				<span class="sfb-address-name1">
					<label for="sfb-sa-1">name1</label>
					<input id="sfb-sa-1" v-bind:value="service_address.name1">
				</span>
				<span class="sfb-address-name2">
					<label for="sfb-sa-2">name2</label>
					<input id="sfb-sa-2" v-bind:value="service_address.name2">
				</span>
				<span class="sfb-address-address">
					<label for="sfb-sa-3">address</label>
					<input id="sfb-sa-3" v-bind:value="service_address.address">
				</span>
				<span class="sfb-address-postalcode">
					<label for="sfb-sa-4">Postal Code</label>
					<input id="sfb-sa-4" v-bind:value="service_address.postal_code">
				</span>
				<span class="sfb-address-city">
					<label for="sfb-sa-5">City</label>
					<input id="sfb-sa-5" v-bind:value="service_address.city">
				</span>
				<span class="sfb-address-phonenumber">
					<label for="sfb-sa-6">Phone Number</label>
					<input id="sfb-sa-6" v-bind:value="service_address.phone_number" type="tel">
				</span>
				<span class="sfb-address-email">
					<label for="sfb-sa-7">Email</label>
					<input id="sfb-sa-7" v-bind:value="service_address.email" type="email">
				</span>
			</form>

			<span class="sfb-next-wrapper">
				<button v-on:click="address_filled" class="sfb-next-button sfb-next-button-address">next</button>
			</span>
		</div>

		<div v-if="step=='review'">
			<h2 class="sfb-header-step">Review &amp; Submit</h2>

			<div class="sfb-review-block">
				You selected
				<ul class="sfb-review-service-list">
					<li v-for="serviceID in selected.service_ids" class="sfb-review-service-element">{{ obj_by_id(services, serviceID).name }}</li>
				</ul> for your {{ obj_by_id(devices, selected.subject_id).name }}.
			</div>

			<span class="sfb-next-wrapper">
				<button v-on:click="submit" class="sfb-next-button sfb-next-button-submit">Submit</button>
			</span>
		</div>
		
		<div id="step-sending" v-if="status=='sending'" class="sfb-status-block sfb-status-block-progressing">
			Submitting...
		</div>

		<div id="step-success" v-if="status=='completed'" class="sfb-status-block sfb-status-block-success">
			Thank you! 👍
		</div>
	</div>

	<script src="/node_modules/vue/dist/vue.js"></script>
	<script src="app.js"></script>
</body>
</html>
